:root{
  --el-color-primary:#fc5757;
  --el-color-primary-light-3:#ff8080;
  --el-color-primary-light-9:#FFF2F3;
  --el-color-primary-dark-2:#fc5757;
  --el-color-primary-light-5:#fc5757;
  --el-color-primary-light-8:#fc5757;
}
