/**
* 显示容器边界
*/
@mixin showContainerBorder {
  @include showDashedOutline;

  &::before {
    @include showCompLabel;
  }
}

/**
* 显示组件边界
*/
@mixin showComponentBorder {
  @include showSoliOutline;

  &::before {
    @include showCompLabel;
  }
}

/**
* 显示组件标签名称
*/
@mixin showCompLabel($direction: left) {
  @if ($direction == 'left') {
    top: 0;
    left: -3px;
    transform: translate(-100%, 0);
  }

  @if ($direction == 'right') {
    top: 0;
    right: -3px;
    transform: translate(100%, 0);
  }

  @if ($direction == 'top') {
    top: 2px;
    left: 0;
    transform: translate(0, -100%);
  }

  position: absolute;
  padding: 3px 5px;
  font-size: 12px;
  font-weight: 700;
  color: #fc5757;
  border: 2px solid #fc5757;
  border-radius: 20px;
  content: attr(data-label);
}

/**
* 显示实心外边框线
*/

@mixin showSoliOutline($width: 2px) {
  outline: $width solid #fc5757;
  outline-offset: -2px;
  -webkit-animation: shadowBlink 2s 0s infinite alternate;
  animation: shadowBlink 2s 0s infinite alternate;
}

/**
* 显示虚线外边框线
*/

@mixin showDashedOutline($width: 2px) {
  outline: $width dashed #b0c1d7;
  outline-offset: -2px;
}

@keyframes shadowBlink {
  0% {
    box-shadow: 0 0 0 #020202;
  }
  to {
    box-shadow: 4px 1px 10px #fc5757;
  }
}
@-webkit-keyframes shadowBlink {
  0% {
    box-shadow: 0 0 0 #020202;
  }
  to {
    box-shadow: 4px 1px 10px #fc5757;
  }
}
